section.section-purchase
    .container.container_column
        include ../_breadcrumps/_breadcrumps
        h1.section__heading.section__heading_bg Список покупок
        ul.section-purchase__list.list
            li.section-purchase__item
                span.section-purchase__item-head.fg-ph Фото
                span.section-purchase__item-head.fg-4 Название товара
                span.section-purchase__item-head.fg-3 Дата покупки
                span.section-purchase__item-head.fg-3 Кол-во
                span.section-purchase__item-head.fg-1 Цена
            li.section-purchase__item
                img.section-purchase__item-photo(src='http://placehold.it/110x75/2f2f2f')
                .section-purchase__item-info.fg-4
                    a.section-purchase__item-title.link(href="javascript:void(0);") Бриллиант  0.5 карат
                    span.section-purchase__item-id Код товара:124525-854 GP
                .section-purchase__item-wrap
                    .section-purchase__item-date.fg-3 
                            p.section-purchase__item-dateh Дата
                            |12.01.2017
                    .section-purchase__item-count.fg-3 
                        p.section-purchase__item-counth Кол-во
                        |1
                .section-purchase__item-price.fg-1 1000 p
            li.section-purchase__item
                img.section-purchase__item-photo(src='http://placehold.it/110x75/2f2f2f')
                .section-purchase__item-info.fg-4
                    a.section-purchase__item-title.link(href="javascript:void(0);") Бриллиант  0.5 карат
                    span.section-purchase__item-id Код товара:124525-854 GP
                .section-purchase__item-wrap
                    .section-purchase__item-date.fg-3 
                            p.section-purchase__item-dateh Дата
                            |12.01.2017
                    .section-purchase__item-count.fg-3 
                        p.section-purchase__item-counth Кол-во
                        |1
                .section-purchase__item-price.fg-1 1000 p
            li.section-purchase__item
                img.section-purchase__item-photo(src='http://placehold.it/110x75/2f2f2f')
                .section-purchase__item-info.fg-4
                    a.section-purchase__item-title.link(href="javascript:void(0);") Бриллиант  0.5 карат
                    span.section-purchase__item-id Код товара:124525-854 GP
                .section-purchase__item-wrap
                    .section-purchase__item-date.fg-3 
                            p.section-purchase__item-dateh Дата
                            |12.01.2017
                    .section-purchase__item-count.fg-3 
                        p.section-purchase__item-counth Кол-во
                        |1
                .section-purchase__item-price.fg-1 10000 p
            li.section-purchase__item
                img.section-purchase__item-photo(src='http://placehold.it/110x75/2f2f2f')
                .section-purchase__item-info.fg-4
                    a.section-purchase__item-title.link(href="javascript:void(0);") Бриллиант  0.5 карат Бриллиант  0.5 карат Бриллиант  0.5 карат
                    span.section-purchase__item-id Код товара:124525-854 GP
                .section-purchase__item-wrap
                    .section-purchase__item-date.fg-3 
                            p.section-purchase__item-dateh Дата
                            |12.01.2017
                    .section-purchase__item-count.fg-3 
                        p.section-purchase__item-counth Кол-во
                        |1
                .section-purchase__item-price.fg-1 100000 p