.popup.popup_hide
    .popup__overlay
        .popup__window.js__false-trans
            h3.popup__heading Diamond.com
            button.close.js__close
                svg.close__image(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="357px" height="357px" viewBox="0 0 357 357" xml:space="preserve")
                    polygon(points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5")
            .popup__content
                .false-trans
                    h5.false-trans__heading 
                        svg.false-trans__heading-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 508.52 508.52" xml:space="preserve")
                            path(d="M254.26,0C113.845,0,0,113.845,0,254.26s113.845,254.26,254.26,254.26 s254.26-113.845,254.26-254.26S394.675,0,254.26,0z M254.26,476.737c-122.68,0-222.477-99.829-222.477-222.477 c0-122.68,99.797-222.477,222.477-222.477c122.649,0,222.477,99.797,222.477,222.477 C476.737,376.908,376.908,476.737,254.26,476.737z")
                            path(d="M254.26,95.347c-17.544,0-31.782,14.239-31.782,31.782v158.912 c0,17.544,14.239,31.782,31.782,31.782s31.782-14.239,31.782-31.782V127.13C286.042,109.586,271.804,95.347,254.26,95.347z")
                            circle(cx="254.26" cy="380.881" r="31.782")
                    p.false-trans__text Ваш платеж не обнаружен