.popup.popup_hide
    .popup__overlay
        .popup__window.js__basket_p
            h3.popup__heading Diamond.com
            .popup__content
                .popup__wrap-info
                    img.popup__photo(src="http://placehold.it/240x170/2f2f2f", alt="")
                    .popup__about
                        .popup__about-text
                            h4.popup__about-head Бриллиант 0.5 карат
                            p.popup__id Код товара:124525-854 GP
                        p.popup__price Цена:&nbsp;
                            span.popup__price-count 12353&nbsp;
                            span.popup__price-currency руб.
                .popup__wrap-buttons
                    button.popup__button.js__close Продолжить покупку
                    a.popup__button.popup__button_orange.link(href="javascript:void(0);") Оформить заказ