section.section-sample
    .container.container_column
        include ../_breadcrumps/_breadcrumps
        h1.section__heading Получение пробы
        form.section-sample__form
            label.section-sample__label Введите код пробы:
            input.section-sample__input(type="text")
        button.section-sample__button(type="submit") Получить пробу
        .section-sample__forum
            a.section-sample__forum-link.link(href="javascript:(0);") Получить код пробы вы можете на форуме