header.header-page
    .container.container_between
        .header-page__logo.logo
            a.logo__link.link(href="javascript:(0);") Diamond.com
        .header-page__balans
        .header-page__basket.cart
            include ../_cart/_cart_after_autorization