h4.product-contact__heading Заказать или задать вопрос:
ul.product-contact__listt.list
    li.product-contact__item
        img.product-contact__img(src="img/icon/icon-jabber.png", alt="")
        span.product-contact__text golden_38_city@exploit.im
    li.product-contact__item
        img.product-contact__img(src="img/icon/icon-telegram.png", alt="")
        span.product-contact__text @golden247
