.tabs-filter
    ul.filter__control-list.list
        li.filter__control-item.filter__control-item_active
            button.filter__control-btn Иркутск
        li.filter__control-item
            button.filter__control-btn Ангарск
        li.filter__control-item
            button.filter__control-btn Шелехов
        li.filter__control-item
            button.filter__control-btn Улан-уде
    ul.filter__content-list.list
        li.filter__content-item.filter__content-item_active
            button.filter__content-btn.filter__content-btn_active Все  районы
            button.filter__content-btn Новобоварский
            button.filter__content-btn Октярьбский
            button.filter__content-btn Ленинский
            button.filter__content-btn Свердловский
            button.filter__content-btn Все
        li.filter__content-item
            button.filter__content-btn Все  районы
            button.filter__content-btn.filter__content-btn_active Новобоварский
            button.filter__content-btn Свердловский
            button.filter__content-btn Все
        li.filter__content-item
            button.filter__content-btn Все  районы
            button.filter__content-btn Новобоварский
            button.filter__content-btn.filter__content-btn_active Октярьбский
            button.filter__content-btn Ленинский
            button.filter__content-btn Свердловский
            button.filter__content-btn Все
        li.filter__content-item
            button.filter__content-btn Все  районы
            button.filter__content-btn Новобоварский
            button.filter__content-btn Октярьбский
            button.filter__content-btn Ленинский
            button.filter__content-btn.filter__content-btn_activ Свердловский

