{
  "name": "DAIMONDS",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "app/_pages/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/sass/index.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "app/_pages/after_autorization.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/after_autorization.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/catalog.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/catalog.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/job.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/job.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/product.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/product.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/js/product.ts",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-typescript\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true}}"
    },
    {
      "path": "app/_pages/purchase_list.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/purchase_list.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/sample.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/sample.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/responses.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/responses.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/responses_after_autorization.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/responses_after_autorization.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    },
    {
      "path": "app/_pages/contacts.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/contacts.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "app",
      "app/_blocks/_balans"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "app/sass/index.scss",
      "imports": [
        "app/sass/_default_settings.sass",
        "app/_blocks/_container/_container_general.sass",
        "app/_blocks/_header-page/_header-page_general.sass",
        "app/_blocks/_logo/_logo_general.sass",
        "app/_blocks/_cart/_cart_general.sass",
        "app/_blocks/_balans/_balans_general.sass",
        "app/_blocks/_top-panel/_top-panel_general.sass",
        "app/_blocks/_basket/_basket_general.sass",
        "app/_blocks/_main-nav/_main-nav_general.sass",
        "app/_blocks/_section-head/_section-head_general.sass",
        "app/_blocks/_registration/_registration_general.sass",
        "app/_blocks/_enter/_enter_general.sass",
        "app/_blocks/_section-products/_section-products_general.sass",
        "app/_blocks/_products/_products_general.sass",
        "app/_blocks/_tabs-filter/_tabs-filter_general.sass",
        "app/_blocks/_stepstobuy/_stepstobuy_general.sass",
        "app/_blocks/_our-contacts/_our-contacts_general.sass",
        "app/_blocks/_consultation/_consultation_general.sass",
        "app/_blocks/_footer-page/_footer-page_general.sass",
        "app/_blocks/_footer-menu/_footer-menu_general.sass",
        "app/_blocks/_footer-contacts/_footer-contacts_general.sass",
        "app/_blocks/_popup/_popup_general.sass",
        "app/_blocks/_close/_close_general.sass",
        "app/_blocks/_sign/_sign_general.sass",
        "app/_blocks/_section/_section_general.sass",
        "app/_blocks/_breadcrumps/_breadcrumps_general.sass",
        "app/_blocks/_section-text/_section-text_general.sass",
        "app/_blocks/_section-product/_section-product_general.sass",
        "app/_blocks/_int-product/_int-product_general.sass",
        "app/_blocks/_method/_method_general.sass",
        "app/_blocks/_product-contact/_product-contact_general.sass",
        "app/_blocks/_no-reg/_no-reg_general.sass",
        "app/_blocks/_form-payment/_form-payment_general.sass",
        "app/_blocks/_true-false-trans/_true-false-trans_general.sass",
        "app/_blocks/_section-purchase/_section-purchase_general.scss",
        "app/_blocks/_section-sample/_section-sample_general.sass",
        "app/_blocks/_section-responses/_section-responses_general.sass",
        "app/_blocks/_must-reg/_must-reg_general.sass",
        "app/_blocks/_section-contacts/_section-contacts_general.sass",
        "app/_blocks/_container/_container_desktop.sass",
        "app/_blocks/_footer-page/_footer-page_desktop.sass",
        "app/_blocks/_section-product/_section-product_desktop.sass",
        "app/_blocks/_main-nav/_main-nav_desktop.sass",
        "app/_blocks/_container/_container_tablet.sass",
        "app/_blocks/_main-nav/_main-nav_tablet.sass",
        "app/_blocks/_section-products/_section-products_tablet.sass",
        "app/_blocks/_section-head/_section-head_tablet.sass",
        "app/_blocks/_section-text/_section-text_tablet.sass",
        "app/_blocks/_tabs-filter/_tabs-filter_tablet.sass",
        "app/_blocks/_consultation/_consultation_tablet.sass",
        "app/_blocks/_footer-page/_footer-page_tablet.sass",
        "app/_blocks/_section-product/_section-product_tablet.sass",
        "app/_blocks/_method/_method_tablet.sass",
        "app/_blocks/_product-contact/_product-contact_tablet.sass",
        "app/_blocks/_int-product/_int-product_tablet.sass",
        "app/_blocks/_section-purchase/_section-purchase_tablet.sass",
        "app/_blocks/_container/_container_mobile.sass",
        "app/_blocks/_main-nav/_main-nav_mobile.sass",
        "app/_blocks/_tabs-filter/_tabs-filter_mobile.sass",
        "app/_blocks/_basket/_basket_mobile.sass",
        "app/_blocks/_section-head/_section-head_mobile.sass",
        "app/_blocks/_section-products/_section-products_mobile.sass",
        "app/_blocks/_stepstobuy/_stepstobuy_mobile.sass",
        "app/_blocks/_our-contacts/_our-contacts_mobile.scss",
        "app/_blocks/_footer-page/_footer-page_mobile.sass",
        "app/_blocks/_registration/_registration_mobile.sass",
        "app/_blocks/_popup/_popup_mobile.sass",
        "app/_blocks/_cart/_cart_mobile.sass",
        "app/_blocks/_balans/_balans_mobile.sass",
        "app/_blocks/_section/_section_mobile.sass",
        "app/_blocks/_breadcrumps/_breadcrumps_mobile.sass",
        "app/_blocks/_section-text/_section-text_mobile.sass",
        "app/_blocks/_enter/_enter_mobile.sass",
        "app/_blocks/_no-reg/_no-reg_mobile.sass",
        "app/_blocks/_form-payment/_form-payment_mobile.sass",
        "app/_blocks/_section-product/_section-product_mobile.sass",
        "app/_blocks/_section-sample/_section-sample_mobile.sass",
        "app/_blocks/_section-responses/_section-responses_mobile.sass",
        "app/_blocks/_section-contacts/_section-contacts_mobile.sass",
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss",
        "app/sass/_variables.scss",
        "app/sass/_fonts.sass",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_deprecation-warnings.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_prefixer.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_px-to-em.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_asset-pipeline.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon-deprecate.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_assign-inputs.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_contains.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_contains-falsy.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-length.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-light.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-number.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-size.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_px-to-em.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_px-to-rem.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_shade.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_strip-units.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_tint.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_transition-property-name.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_unpack.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_modular-scale.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_convert-units.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_directional-values.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_font-source-declaration.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_gradient-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-angle-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-gradient-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-side-corner-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-arg-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-gradient-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_render-gradients.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_shape-size-stripper.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_str-to-num.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_animation.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_appearance.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_backface-visibility.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_background.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_background-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_border-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_calc.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_columns.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_filter.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_flex-box.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_font-face.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_font-feature-settings.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_hidpi-media-query.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_hyphens.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_image-rendering.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_keyframes.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_linear-gradient.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_perspective.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_radial-gradient.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_selection.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_text-decoration.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_transform.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_transition.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_user-select.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-color.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-radius.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-style.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-width.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_buttons.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_ellipsis.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_font-stacks.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_hide-text.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_margin.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_padding.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_position.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_prefixer.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_retina-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_size.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_text-inputs.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_timing-functions.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_triangle.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_word-wrap.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "app/sass/_default_settings.sass",
      "imports": [
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss",
        "app/sass/_variables.scss",
        "app/sass/_fonts.sass",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_deprecation-warnings.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_prefixer.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_px-to-em.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/settings/_asset-pipeline.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon-deprecate.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_assign-inputs.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_contains.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_contains-falsy.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-length.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-light.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-number.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_is-size.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_px-to-em.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_px-to-rem.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_shade.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_strip-units.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_tint.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_transition-property-name.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_unpack.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/functions/_modular-scale.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_convert-units.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_directional-values.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_font-source-declaration.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_gradient-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-angle-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-gradient-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_linear-side-corner-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-arg-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-positions-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_radial-gradient-parser.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_render-gradients.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_shape-size-stripper.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/helpers/_str-to-num.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_animation.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_appearance.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_backface-visibility.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_background.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_background-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_border-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_calc.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_columns.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_filter.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_flex-box.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_font-face.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_font-feature-settings.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_hidpi-media-query.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_hyphens.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_image-rendering.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_keyframes.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_linear-gradient.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_perspective.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_radial-gradient.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_selection.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_text-decoration.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_transform.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_transition.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/css3/_user-select.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-color.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-radius.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-style.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_border-width.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_buttons.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_ellipsis.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_font-stacks.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_hide-text.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_margin.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_padding.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_position.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_prefixer.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_retina-image.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_size.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_text-inputs.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_timing-functions.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_triangle.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/addons/_word-wrap.scss",
        "app/bower_components/bourbon/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "app/_pages/after_autorization.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-products/_section-products.pug",
        "app/_blocks/_stepstobuy/_stepstobuy.pug",
        "app/_blocks/_our-contacts/_our-contacts.pug",
        "app/_blocks/_consultation/_consultation.pug",
        "app/_blocks/_popup/_popup_no_register.pug",
        "app/_blocks/_popup/_popup_form_payment.pug",
        "app/_blocks/_popup/_popup_true-trans.pug",
        "app/_blocks/_popup/_popup_false-trans.pug",
        "app/_blocks/_popup/_popup_basket.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_products/_products.pug",
        "app/_blocks/_form-payment/_form-payment.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/catalog.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-catalog/_section-catalog.pug",
        "app/_blocks/_popup/_popup_no_register.pug",
        "app/_blocks/_popup/_popup_form_payment.pug",
        "app/_blocks/_popup/_popup_true-trans.pug",
        "app/_blocks/_popup/_popup_false-trans.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_products/_products.pug",
        "app/_blocks/_form-payment/_form-payment.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/index.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page.pug",
        "app/_blocks/_top-panel/_top-panel.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-products/_section-products.pug",
        "app/_blocks/_stepstobuy/_stepstobuy.pug",
        "app/_blocks/_our-contacts/_our-contacts.pug",
        "app/_blocks/_consultation/_consultation.pug",
        "app/_blocks/_popup/_popup_no_register.pug",
        "app/_blocks/_popup/_popup_form_payment.pug",
        "app/_blocks/_popup/_popup_true-trans.pug",
        "app/_blocks/_popup/_popup_false-trans.pug",
        "app/_blocks/_popup/_popup_basket.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_products/_products.pug",
        "app/_blocks/_form-payment/_form-payment.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/job.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-text/_section-text.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/product.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-product/_section-product.pug",
        "app/_blocks/_popup/_popup_no_register.pug",
        "app/_blocks/_popup/_popup_form_payment.pug",
        "app/_blocks/_popup/_popup_true-trans.pug",
        "app/_blocks/_popup/_popup_false-trans.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_method/_method.pug",
        "app/_blocks/_product-contact/_product-contact.pug",
        "app/_blocks/_int-product/_int-product.pug",
        "app/_blocks/_form-payment/_form-payment.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/purchase_list.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-purchase/_section-purchase.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/responses.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page.pug",
        "app/_blocks/_top-panel/_top-panel.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-responses/_section-responses.pug",
        "app/_blocks/_popup/_popup_must-reg.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/responses_after_autorization.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page_after_autorization.pug",
        "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-responses/_section-responses_after_autorization.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart_after_autorization.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_pages/sample.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page.pug",
        "app/_blocks/_top-panel/_top-panel.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-sample/_section-sample.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_templates/_main.pug",
      "imports": [
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_blocks/_footer-page/_footer-page.pug",
      "imports": [
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    },
    {
      "path": "app/_blocks/_header-page/_header-page.pug",
      "imports": [
        "app/_blocks/_cart/_cart.pug"
      ]
    },
    {
      "path": "app/_blocks/_header-page/_header-page_after_autorization.pug",
      "imports": [
        "app/_blocks/_cart/_cart_after_autorization.pug"
      ]
    },
    {
      "path": "app/_blocks/_popup/_popup_form_payment.pug",
      "imports": [
        "app/_blocks/_form-payment/_form-payment.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-catalog/_section-catalog.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_products/_products.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-product/_section-product.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_method/_method.pug",
        "app/_blocks/_product-contact/_product-contact.pug",
        "app/_blocks/_int-product/_int-product.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-products/_section-products.pug",
      "imports": [
        "app/_blocks/_tabs-filter/_tabs-filter.pug",
        "app/_blocks/_products/_products.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-purchase/_section-purchase.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-responses/_section-responses.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-responses/_section-responses_after_autorization.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-sample/_section-sample.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug"
      ]
    },
    {
      "path": "app/_blocks/_section-text/_section-text.pug",
      "imports": [
        "app/_blocks/_breadcrumps/_breadcrumps.pug"
      ]
    },
    {
      "path": "app/_blocks/_top-panel/_top-panel.pug",
      "imports": [
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign.pug",
        "app/_blocks/_main-nav/_main-nav.pug"
      ]
    },
    {
      "path": "app/_blocks/_top-panel/_top-panel_after_autorization.pug",
      "imports": [
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign_after_autorization.pug",
        "app/_blocks/_main-nav/_main-nav.pug"
      ]
    },
    {
      "path": "app/_pages/contacts.pug",
      "imports": [
        "app/_templates/_main.pug",
        "app/_blocks/_header-page/_header-page.pug",
        "app/_blocks/_top-panel/_top-panel.pug",
        "app/_blocks/_section-head/_section-head.pug",
        "app/_blocks/_section-contacts/_section-contacts.pug",
        "app/_blocks/_footer-page/_footer-page.pug",
        "app/_blocks/_popup/_popup_registration.pug",
        "app/_blocks/_popup/_popup_enter.pug",
        "app/_blocks/_cart/_cart.pug",
        "app/_blocks/_basket/_basket.pug",
        "app/_blocks/_sign/_sign.pug",
        "app/_blocks/_main-nav/_main-nav.pug",
        "app/_blocks/_breadcrumps/_breadcrumps.pug",
        "app/_blocks/_footer-menu/_footer-menu.pug",
        "app/_blocks/_footer-contacts/_footer-contacts.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "_blocks",
    "_pages",
    "_templates",
    "ftp",
    "psd",
    "sass",
    ".gitignore",
    ".gitattributes"
  ],
  "server": {
    "port": 7888,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegmentsWith\":\"\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}