nav.main-nav
    button.main-nav__menu
        svg.main-nav__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="459px" height="459px" viewBox="0 0 459 459" xml:space="preserve")
            path(d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z")
    ul.main-nav__list.list
        li.main-nav__item.main-nav__item_active
            a.main-nav__link.link(href="javascript:void(0);") Витрина
        li.main-nav__item
            a.main-nav__link.link(href="javascript:void(0);") Отзыв
        li.main-nav__item
            a.main-nav__link.link(href="javascript:void(0);") Контакты
        li.main-nav__item
            a.main-nav__link.link(href="javascript:void(0);") Вакансии
        li.main-nav__item
            a.main-nav__link.link(href="javascript:void(0);") Халява
        li.main-nav__item
            a.main-nav__link.link(href="javascript:void(0);") Получить пробу
