ul.products__list.list
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр
    li.products__item
        h4.products__heading Бриллиант
        p.products__description 0.5 карат
        img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
        p.products__price 12353 руб
        p.products__count В наличии: 0
        button.products__link.js__basket(href="javascript:void(0);") Купить сейчас
        a.products__link.products__link_blue.link(href="product.html") Просмотр

