footer.footer-page
    .container.container_anly-betw.container_wrap
        .footer-page__copyright © Money-boo, 2016
        .footer-page__text © 2017  Банк  Наша команда осуществляет широкий комплекс услуг связанных с денежными операциями. Все наши предложения оптимизированы под быстрое решение ваших потребностей.
        .footer-page__menu.footer-menu
            include ../_footer-menu/_footer-menu
        .footer-page__contacts.footer-contacts
            include ../_footer-contacts/_footer-contacts
