.breadcrumps
    ul.breadcrumps__list.list
        li.breadcrumps__item
            a.breadcrumps__link.link(href="javascript(0);") Главная
        li.breadcrumps__item
            a.breadcrumps__link.link(href="javascript(0);") Каталог товаров
        li.breadcrumps__item
            a.breadcrumps__link.link(href="javascript(0);") Каталог товаров
        li.breadcrumps__item
            a.breadcrumps__link.link(href="javascript(0);") Каталог товаров