ul.form-payment__control-list.list
    li.form-payment__control-item
        button.form-payment__control-btn
            svg.form-payment__control-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96 131.3" xml:space="preserve")
                path(d="M66.4,54.3c-1.5-2.3-2.9-4.5-4.3-6.6c2-3.6,2.1-7.7,1.6-11.8c-0.5-4.1-1.6-8.1-3.6-11.8c-0.7-1.3-1-2.8-1.9-3.9 c-1.8-2.2-3.8-4.3-6-6c-2.5-1.9-5.1-3.7-8-5.1c-2.3-1.1-5-1.6-7.6-2.3c-0.2,0-0.3,0-0.5,0C30.5,5.6,25.6,7.3,21,10.6 c-5.2,3.7-7.5,9-9.1,14.9c-1.1,4.1-0.7,8.3,0.2,12.2c1,4.5,3,8.7,5.9,12.4c3.9,4.9,9.1,7.7,14.7,10c2.4,1,4.9,0.9,7.4,1.3 c1.2,0.2,1.6-0.4,1.3-1.5c-0.2-0.9-0.3-1.8-0.5-2.7c1.4,1.3,2.6,2.6,4,3.7c3.9,3.1,8.5,3.8,13.3,4.4c8.2,1.1,14.7,5.1,19.1,12.2 c0,0,0,0.1-0.1,0.5c-0.4-0.4-0.7-0.6-1-0.9c-5.9-6.2-13-9.4-21.6-9.5c-4-0.1-7.8,0.9-11.6,1.6c-4.5,0.9-8.9,0.3-13.3-0.6 c-4.9-0.9-9.5-2.7-13.7-5.4c-3.5-2.2-6.5-5-8.7-8.5c-1.6-2.6-2.8-5.4-3.8-8.3c-0.8-2.6-1.4-5.4-1.5-8.1c-0.2-7.9,1.7-15.1,6.2-21.7 C13.6,9.1,20.7,4.1,29.6,1.5c1.9-0.6,3.9-0.6,5.9-0.8C36.6,0.4,37.8,0,38.9,0c7.9,0.3,15.3,2,21.6,7.1c5.5,4.4,9.6,9.9,11.6,16.8 c2.9,10.2,1,19.7-4.2,28.7C67.5,53.3,66.8,53.9,66.4,54.3z")
                path(d="M52.6,99.7c-0.3,0.9-0.7,1.8-1,2.7c-1.1,3.6-2.3,7.3-3.3,10.9c-0.3,0.9-0.7,1.4-1.6,1.2 c-0.6-0.2-1.3-0.6-1.5-1.1c-2.2-7.5-4.4-15-6.6-22.9c1.4,0,2.7-0.1,3.9,0.1c0.3,0,0.7,0.8,0.8,1.2c1,4.1,2,8.2,3.1,12.4 c0.2,0.8,0.5,1.5,0.7,2.2c0.2,0,0.3,0,0.5,0c0.7-2.2,1.5-4.5,2.2-6.7c0.8-2.6,1.5-5.2,2.4-7.8c0.2-0.5,0.8-0.9,1.2-1.4 c0.4,0.5,1,0.9,1.2,1.5c1.4,4.3,2.8,8.7,4.1,13.1c0.1,0.4,0.3,0.9,0.9,1.4c0.2-0.4,0.4-0.9,0.6-1.3c1-4.1,2-8.1,3-12.2 c0.7-2.8,0.7-2.8,3.9-2.2c-0.6,2.4-1.2,4.8-1.8,7.2c-1.4,5.1-2.9,10.1-4.3,15.2c-0.2,0.8-0.4,1.3-1.4,1.4c-1,0-1.4-0.4-1.7-1.3 c-1.3-4-2.6-8-4-11.9c-0.2-0.6-0.4-1.1-0.6-1.6C52.9,99.7,52.7,99.7,52.6,99.7z")
                path(d="M21.9,102.4c-0.5,5.2-2.1,9.4-6.9,11.8c-1.2,0.6-0.9,1.3-0.4,2.1c1.3,2.1,3.3,3.3,5.5,4.1 c0.2,0.1,0.4,0.1,0.6,0.2c0.7,0.4,1.3,0.8,1.9,1.2c-0.8,0.2-1.6,0.6-2.3,0.5c-4.3-0.7-8-2.4-10.4-6.3c-0.4-0.5-0.9-1.2-1.5-1.3 c-4.5-1.2-7-4.2-8-8.6c-0.9-4.3-0.6-8.5,2.1-12.2c4.6-6.3,14.2-5.4,17.5,1.7C21.1,97.8,21.3,100.2,21.9,102.4z M17.3,102.6 c-0.1,0-0.1,0-0.2,0c-0.1-1,0-2.1-0.2-3.1c-0.1-0.9-0.4-1.7-0.6-2.5c-0.8-2.5-2.9-4.4-5.3-4.5c-2.1-0.1-4.4,1.3-5.4,3.8 c-1.7,4.3-1.7,8.7,0.2,12.9c1,2.2,2.7,3.7,5.4,3.4c2.7-0.3,4.3-1.9,5-4.3C16.8,106.4,17,104.5,17.3,102.6z")
                    path(d="M73.3,90.7c0.4-0.1,0.5-0.2,0.6-0.2c3.8-0.3,3.8-0.3,3.8,3.5c0,6.3,0,12.5,0,18.8c0,1.3-0.4,1.8-1.7,1.7 c-0.3,0-0.7,0-1,0c-1.3,0.2-1.8-0.3-1.8-1.7c0.1-5.7,0-11.5,0-17.2C73.3,94,73.3,92.4,73.3,90.7z")
                path(d="M32.5,90.5c0,6.4,0,12.6,0,18.7c0,1,0,2.1,0,3.1c0,2.2,0,2.1-2.3,2.2c-1.7,0.1-2-0.6-2-2.1 c0.1-6.5,0-13.1,0-19.6c0-2.4,0-2.4,2.4-2.4C31.3,90.5,31.8,90.5,32.5,90.5z")
                path(d="M57.1,60.8c-1.5-0.2-2.6-1.2-2.4-2.3c0.1-0.6,0.9-1,1.3-1.5c0.7,0.7,1.5,1.3,1.9,2.1 C58.2,59.4,57.5,60.2,57.1,60.8z")
                text.form-payment__control-text(transform="matrix(1 0 0 1 22.6793 131.1668)") кошелек
    li.form-payment__control-item
        button.form-payment__control-btn
            svg.form-payment__control-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 413.2 391" xml:space="preserve")
                path(d="M35.9,283c-2.7,13.2-5.2,25.5-7.6,37.1c6.3-2.4,12.2-5.6,18.5-6.9c10.4-2.1,20.2,4.6,22.4,15.1 C75.9,359,52,392.4,14,384.4c-9.2-1.9-14.7-8.8-13.9-18.5c0.8-10.1,2.9-20,4.8-30c3-16,6.4-32,9.4-48c0.7-3.9,2.3-5.3,6.2-5 C25.4,283.3,30.3,283,35.9,283z M19.6,360c0.5,0.2,0.9,0.3,1.4,0.5c-0.2,8,5.4,11.7,13,8.4c10.2-4.4,18.1-22.4,14.4-32.9 c-2.2-6.2-8.5-8.6-14.1-4.9c-2.3,1.5-4.9,3.5-6,5.8C25,344.5,22.4,352.3,19.6,360z")
                path(d="M297.3,340.7c-1.2,19.4-7.5,33.4-23.6,40.8c-12.5,5.8-25.4,6.6-37.3-2.2c-7.3-5.4-9.9-13.2-10-21.8 c-0.2-19.5,10.3-37.1,30.4-43.1c15.4-4.6,32.5,1.5,37.8,14.8C296.3,333.5,296.7,338.4,297.3,340.7z M276.1,342.1 c0-6.4-2.8-11.4-7.3-13c-4.6-1.7-9.6,0-13.7,4.6c-6.1,6.9-7.7,15.4-7.6,24.1c0,5.1,2,9.8,7.7,11.6c5,1.6,9.8-0.2,13.9-5.4 C274.3,357.5,275.4,349.6,276.1,342.1z")
                path(d="M384.1,384c2.3-11.9,4.5-22.9,6.4-34c0.8-4.2,1.4-8.6,1.4-12.9c0-6.8-5.8-10.3-11.2-6.2 c-4.2,3.3-8.3,8.2-9.9,13.1c-3.5,11-5.7,22.5-7.8,34c-0.9,4.9-2.7,6.8-7.7,6.3c-4.3-0.4-8.6-0.1-13.8-0.1c1-6.1,1.9-11.6,2.8-17.1 c2.9-16,6-32,8.7-48.1c0.6-3.4,1.8-4.9,5.4-4.6c4.3,0.3,8.6,0.1,13.2,0.1c-0.3,3.6-0.5,6.6-0.8,10.9c2.1-2.1,3.4-3.4,4.8-4.6 c6.4-5.7,13.9-8.6,22.4-7.9c10,0.9,15.8,8.6,15,19.9c-0.6,7.9-2,15.8-3.3,23.7c-1.4,8-3,16-4.7,24c-0.3,1.2-1.4,3.3-2.2,3.3 C396.9,384.1,390.8,384,384.1,384z")
                path(d="M118.2,329.4c0.5-3.3,1-5.8,1.3-8.2c0.5-4.4,1.7-7.7,7.3-6.9c1,0.2,2.9-1.7,3.4-3c1.4-3.7,1.1-9.7,3.4-10.9 c5.7-3,12.5-3.7,19.7-5.5c-1.1,6.9-2.1,12.7-3.1,19.3c4.7,0.2,9.1,0.4,14.2,0.7c-0.9,5-1.7,9.6-2.6,15c-3.8,0-7.6-0.3-11.3,0.1 c-1.5,0.2-3.8,1.7-4.1,3c-1.8,7.9-3.4,15.9-4.7,24c-1.6,10.3-0.8,11.1,10.7,11.4c-0.7,4.9-1.3,9.7-2.2,14.5c-0.1,0.6-1,1.3-1.7,1.6 c-0.7,0.3-1.6,0.4-2.4,0.5c-17.6,2.7-29.6-2-25.1-23.9c1.7-8.3,3.1-16.7,4.6-25c0.3-1.8,0.5-3.5,0.8-5.7 C123.5,330,120.9,329.7,118.2,329.4z")
                path(d="M220.2,329.7c-5.3,0-9.8-0.5-14.2,0.1c-12.6,1.8-22.3,18-18.2,30.2c2.1,6.1,7.6,9.7,14.4,9 c3.8-0.4,7.5-1.2,12-1.9c0,4.4,0.1,8.8-0.1,13.2c0,0.9-1.1,2.2-1.9,2.4c-12.1,3.2-24.2,5.1-35.6-2.4c-8.5-5.6-11.3-14.2-11.1-23.7 c0.8-28.4,24.6-47.6,52.9-43.1c6.1,1,6.3,1.3,4.7,7.3c-0.7,2.6-1.5,5.1-2.3,7.6C220.7,329.1,220.2,329.6,220.2,329.7z")
                path(d="M303.6,384.2c1.8-9.4,3.5-18,5.1-26.6c2.5-13.1,5-26.1,7.3-39.2c0.5-2.9,1.6-4,4.5-3.9c5.3,0.1,10.6,0,16.7,0 c-0.8,4-1.4,7.3-2.1,10.6c-3.4,18-6.9,35.9-10.1,53.9c-0.7,4.2-2.3,5.6-6.5,5.3C314,383.9,309.3,384.2,303.6,384.2z")
                path(d="M110.1,314.5c-4.5,23.7-8.8,46.4-13.2,69.4c-6.6,0-13,0-20.1,0c1.2-7.2,2.2-14.2,3.5-21.2 c2.7-14.4,5.7-28.7,8.3-43.1c0.7-4.2,2.5-5.5,6.6-5.2C99.8,314.8,104.4,314.5,110.1,314.5z")
                path(d="M331.9,284.3c5.7,0.1,9.7,4.2,9.6,9.8c-0.1,6.7-5.3,11.5-12,11.4c-5.8-0.2-9.7-4.2-9.6-9.9 C320.1,289,325.1,284.2,331.9,284.3z")
                path(d="M114.3,294.2c0,6.3-5,11.2-11.5,11.3c-5.9,0.1-10.2-4.1-10.1-9.9c0.1-6.5,5-11.2,11.5-11.3 C110.4,284.3,114.3,288.1,114.3,294.2z")
                path(d="M206.5,255.8c-70.4-0.2-127.9-58-127.7-128.3C79,57.1,137.1-0.5,207.3,0c70.6,0.5,127.2,57.5,127.1,128 C334.4,198.6,276.9,256,206.5,255.8z M236.2,129.9c14.5-2.7,23.2-9.5,25-22.3c1.7-12.8-5.2-21.4-16.1-27.5c-1.5-0.8-2.5-4-2.4-6 c0.2-4.9,1.2-9.7,2-14.9c-6.3-1.3-11.8-2.4-17.8-3.6c-1.5,6.2-2.8,11.8-4.3,18.1c-3.9-0.9-7.3-1.6-11-2.4c0.9-6.3,1.7-12,2.5-17.6 c-4.8-1-8.6-1.6-12.3-2.6c-4.4-1.3-6.9-0.6-7.3,4.6c-0.4,4-1.5,7.9-2.5,12.6c-5.4-1.1-10.5-2.1-15.6-3.1 c-14.1-2.7-14.1-2.7-14.6,12.2c11.6,5.8,11.6,5.8,9,19.7c-2.9,15.6-5.9,31.2-8.6,46.9c-2.4,14.1-2.2,14.2-16.1,14.7 c-0.9,4.5-1.8,9-2.8,14.2c9.5,2,18.5,4,27.9,6c-0.8,6.2-1.6,11.8-2.4,17.9c5,1,9.3,1.7,13.5,2.7c3.8,0.9,5.5-0.4,6-4.2 c0.6-4.2,1.6-8.3,2.5-13c4.2,0.9,7.6,1.6,11.3,2.3c-1,6.4-1.9,11.9-2.8,17.7c5.1,1,9.8,2.4,14.4,2.7c1.6,0.1,4.4-1.9,4.9-3.5 c1.4-4.7,2-9.7,2.9-14.8c16.7-1.5,30.2-7.7,33.9-25.3C258.5,146.8,250,137.4,236.2,129.9z")
                path(d="M192.8,131.1c9.1,2.2,17.8,3.6,26,6.5c7.4,2.7,10.1,9.4,8.4,16.5c-1.8,7.2-7.7,12.3-15.2,12.1 c-6.3-0.2-12.6-1.1-18.9-2c-3.5-0.5-5.8-2.3-5-6.5C189.7,149.3,191.1,140.9,192.8,131.1z")
                path(d="M196,115.4c1.7-9.6,3.2-18,4.9-27.6c8.7,2.1,16.6,3.7,24.4,6c6.3,1.9,8.9,6.7,8.2,13.2c-0.7,6.2-5,11-11.8,11 C213.3,117.9,205,116.4,196,115.4z")
    li.form-payment__control-item
        button.form-payment__control-btn
            svg.form-payment__control-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 104 135" xml:space="preserve")
                path(d="M66.4,54.3c-1.5-2.3-2.9-4.5-4.3-6.6c2-3.6,2.1-7.7,1.6-11.8c-0.5-4.1-1.6-8.1-3.6-11.8c-0.7-1.3-1-2.8-1.9-3.9 c-1.8-2.2-3.8-4.3-6-6c-2.5-1.9-5.1-3.7-8-5.1c-2.3-1.1-5-1.6-7.6-2.3c-0.2,0-0.3,0-0.5,0C30.5,5.6,25.6,7.3,21,10.6 c-5.2,3.7-7.5,9-9.1,14.9c-1.1,4.1-0.7,8.3,0.2,12.2c1,4.5,3,8.7,5.9,12.4c3.9,4.9,9.1,7.7,14.7,10c2.4,1,4.9,0.9,7.4,1.3 c1.2,0.2,1.6-0.4,1.3-1.5c-0.2-0.9-0.3-1.8-0.5-2.7c1.4,1.3,2.6,2.6,4,3.7c3.9,3.1,8.5,3.8,13.3,4.4c8.2,1.1,14.7,5.1,19.1,12.2 c0,0,0,0.1-0.1,0.5c-0.4-0.4-0.7-0.6-1-0.9c-5.9-6.2-13-9.4-21.6-9.5c-4-0.1-7.8,0.9-11.6,1.6c-4.5,0.9-8.9,0.3-13.3-0.6 c-4.9-0.9-9.5-2.7-13.7-5.4c-3.5-2.2-6.5-5-8.7-8.5c-1.6-2.6-2.8-5.4-3.8-8.3c-0.8-2.6-1.4-5.4-1.5-8.1c-0.2-7.9,1.7-15.1,6.2-21.7 C13.6,9.1,20.7,4.1,29.6,1.5c1.9-0.6,3.9-0.6,5.9-0.8C36.6,0.4,37.8,0,38.9,0c7.9,0.3,15.3,2,21.6,7.1c5.5,4.4,9.6,9.9,11.6,16.8 c2.9,10.2,1,19.7-4.2,28.7C67.5,53.3,66.8,53.9,66.4,54.3z")
                path(d="M52.6,99.7c-0.3,0.9-0.7,1.8-1,2.7c-1.1,3.6-2.3,7.3-3.3,10.9c-0.3,0.9-0.7,1.4-1.6,1.2 c-0.6-0.2-1.3-0.6-1.5-1.1c-2.2-7.5-4.4-15-6.6-22.9c1.4,0,2.7-0.1,3.9,0.1c0.3,0,0.7,0.8,0.8,1.2c1,4.1,2,8.2,3.1,12.4 c0.2,0.8,0.5,1.5,0.7,2.2c0.2,0,0.3,0,0.5,0c0.7-2.2,1.5-4.5,2.2-6.7c0.8-2.6,1.5-5.2,2.4-7.8c0.2-0.5,0.8-0.9,1.2-1.4 c0.4,0.5,1,0.9,1.2,1.5c1.4,4.3,2.8,8.7,4.1,13.1c0.1,0.4,0.3,0.9,0.9,1.4c0.2-0.4,0.4-0.9,0.6-1.3c1-4.1,2-8.1,3-12.2 c0.7-2.8,0.7-2.8,3.9-2.2c-0.6,2.4-1.2,4.8-1.8,7.2c-1.4,5.1-2.9,10.1-4.3,15.2c-0.2,0.8-0.4,1.3-1.4,1.4c-1,0-1.4-0.4-1.7-1.3 c-1.3-4-2.6-8-4-11.9c-0.2-0.6-0.4-1.1-0.6-1.6C52.9,99.7,52.7,99.7,52.6,99.7z")
                path(d="M21.9,102.4c-0.5,5.2-2.1,9.4-6.9,11.8c-1.2,0.6-0.9,1.3-0.4,2.1c1.3,2.1,3.3,3.3,5.5,4.1 c0.2,0.1,0.4,0.1,0.6,0.2c0.7,0.4,1.3,0.8,1.9,1.2c-0.8,0.2-1.6,0.6-2.3,0.5c-4.3-0.7-8-2.4-10.4-6.3c-0.4-0.5-0.9-1.2-1.5-1.3 c-4.5-1.2-7-4.2-8-8.6c-0.9-4.3-0.6-8.5,2.1-12.2c4.6-6.3,14.2-5.4,17.5,1.7C21.1,97.8,21.3,100.2,21.9,102.4z M17.3,102.6 c-0.1,0-0.1,0-0.2,0c-0.1-1,0-2.1-0.2-3.1c-0.1-0.9-0.4-1.7-0.6-2.5c-0.8-2.5-2.9-4.4-5.3-4.5c-2.1-0.1-4.4,1.3-5.4,3.8 c-1.7,4.3-1.7,8.7,0.2,12.9c1,2.2,2.7,3.7,5.4,3.4c2.7-0.3,4.3-1.9,5-4.3C16.8,106.4,17,104.5,17.3,102.6z")
                path(d="M73.3,90.7c0.4-0.1,0.5-0.2,0.6-0.2c3.8-0.3,3.8-0.3,3.8,3.5c0,6.3,0,12.5,0,18.8c0,1.3-0.4,1.8-1.7,1.7 c-0.3,0-0.7,0-1,0c-1.3,0.2-1.8-0.3-1.8-1.7c0.1-5.7,0-11.5,0-17.2C73.3,94,73.3,92.4,73.3,90.7z")
                path(d="M32.5,90.5c0,6.4,0,12.6,0,18.7c0,1,0,2.1,0,3.1c0,2.2,0,2.1-2.3,2.2c-1.7,0.1-2-0.6-2-2.1 c0.1-6.5,0-13.1,0-19.6c0-2.4,0-2.4,2.4-2.4C31.3,90.5,31.8,90.5,32.5,90.5z")
                path(d="M57.1,60.8c-1.5-0.2-2.6-1.2-2.4-2.3c0.1-0.6,0.9-1,1.3-1.5c0.7,0.7,1.5,1.3,1.9,2.1 C58.2,59.4,57.5,60.2,57.1,60.8z")
                text.form-payment__control-text(transform="matrix(1 0 0 1 22.6793 131.1668)") терминал
ul.form-payment__content-list.list
    li.form-payment__content-item 
        p.form-payment__text.form-payment__text_bold Ваш номер заказа "
            span.form-payment__text_blue 777
            |" - запишите его!
        p.form-payment__text Пожалуйста, переведите 
            span.form-payment__text.form-payment__text_bold 1000р 
            |на кошелек 
            span.form-payment__text.form-payment__text_bold.form-payment__text_blue +7777777777
        br
        p.form-payment__text.form-payment__text_bold БЕЗ КОММЕНТАРИЯ! С киви кошелька!
    li.form-payment__content-item 
        p.form-payment__text.form-payment__text_bold Ваш номер заказа "
            span.form-payment__text_blue 777
            |" - запишите его!
        p.form-payment__text Пожалуйста, переведите 
            span.form-payment__text.form-payment__text_bold 1000р 
            |на кошелек 
            span.form-payment__text.form-payment__text_bold.form-payment__text_blue +7777777777
        br
        p.form-payment__text.form-payment__text_bold БЕЗ КОММЕНТАРИЯ! С киви кошелька!
    li.form-payment__content-item 
        p.form-payment__text.form-payment__text_bold Ваш номер заказа "
            span.form-payment__text_blue 777
            |" - запишите его!
        p.form-payment__text Пожалуйста, переведите 
            span.form-payment__text.form-payment__text_bold 1000р 
            |на кошелек 
            span.form-payment__text.form-payment__text_bold.form-payment__text_blue +7777777777
        br
        p.form-payment__text.form-payment__text_bold БЕЗ КОММЕНТАРИЯ! С киви кошелька!
.form-payment__timer
    p.form-payment__text.form-payment__text_bold Для оплаты оталось
    p.form-payment__timer-time
        span.form-payment__timer-min --
        |:
        span.form-payment__timer-sec --
    p.form-payment__text Если не успеваете оплатить в течени данного времени то создайте заказ заново перед оплатой.
script
    | var minutes = 10;
    | var seconds = '00';
.form-payment__button.js__show-inspection
    button.popup__button.popup__button_orange ПРОВЕРИТЬ ОПЛАТУ
form.form-payment__inspection
    label.form-payment__inspection-text Введите номер кошелька с которого произвели оплату:
    input.form-payment__inspection-input(type="text")
    button.form-payment__inspection-button(type="submit") Проверить

