.basket
    ul.basket__list.list
        li.basket__item
            img.basket__photo(src="http://placehold.it/75x50/2f2f2f", alt="")
            .basket__about
                h4.basket__heading Бриллиант&nbsp;
                    span.basket__heading-count 0.5 карат
                p.basket__price 1 x 12353 руб.
        li.basket__item
            img.basket__photo(src="http://placehold.it/75x50/2f2f2f", alt="")
            .basket__about
                h4.basket__heading Бриллиант&nbsp;
                    span.basket__heading-count 0.5 карат
                p.basket__price 1 x 12353 руб.
        li.basket__item
            img.basket__photo(src="http://placehold.it/75x50/2f2f2f", alt="")
            .basket__about
                h4.basket__heading Бриллиант&nbsp;
                    span.basket__heading-count 0.5 карат
                p.basket__price 1 x 12353 руб.
    .basket__wrap-buttons
        button.basket__button Оформить заказ