section.section-catalog
    .container.container_column
        include ../_breadcrumps/_breadcrumps
        h1.section__heading Каталог Товаров
        include ../_tabs-filter/_tabs-filter
        include ../_products/_products