- var items = ['г. Киев, ул. Евгения Сверстюка 7', '(093) 170-06-83', '(093)-259-37-15']

h4.footer-contacts__heading Контакты
ul.footer-contacts__list.list
    li.footer-contacts__item г. Киев, ул. Евгения Сверстюка 7
    li.footer-contacts__item 
        a.footer-contacts__link.link(href="callto: +380931700683") (093) 170-06-83
    li.footer-contacts__item
        a.footer-contacts__link.link(href="callto: +380932593715") (093)-259-37-15