.int-product
    h3.int-product__heading Вас такое может заинтересовать
    ul.products__list.list
        li.products__item
            h4.products__heading Бриллиант
            p.products__description 0.5 карат
            img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
            p.products__price 12353 руб
            p.products__count В наличии: 0
            a.products__link.link(href="javascript:void(0);") Перейти
        li.products__item
            h4.products__heading Бриллиант
            p.products__description 0.5 карат
            img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
            p.products__price 12353 руб
            p.products__count В наличии: 0
            a.products__link.link(href="javascript:void(0);") Перейти
        li.products__item
            h4.products__heading Бриллиант
            p.products__description 0.5 карат
            img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
            p.products__price 12353 руб
            p.products__count В наличии: 0
            a.products__link.link(href="javascript:void(0);") Перейти
        li.products__item
            h4.products__heading Бриллиант
            p.products__description 0.5 карат
            img.products__image(src="http://placehold.it/215x150/2f2f2f", alt="")
            p.products__price 12353 руб
            p.products__count В наличии: 0
            a.products__link.link(href="javascript:void(0);") Перейти
