extends ../_templates/_main
block title
    title Главная
block content
    include ../_blocks/_header-page/_header-page
    include ../_blocks/_top-panel/_top-panel
    include ../_blocks/_section-head/_section-head
    include ../_blocks/_section-products/_section-products
    include ../_blocks/_stepstobuy/_stepstobuy
    include ../_blocks/_our-contacts/_our-contacts
    include ../_blocks/_consultation/_consultation
block append popups
    include ../_blocks/_popup/_popup_no_register
    include ../_blocks/_popup/_popup_form_payment
    include ../_blocks/_popup/_popup_true-trans
    include ../_blocks/_popup/_popup_false-trans
    //- include ../_blocks/_popup/_popup_basket