extends ../_templates/_main
block title
    title Работа
block content
    include ../_blocks/_header-page/_header-page_after_autorization
    include ../_blocks/_top-panel/_top-panel_after_autorization
    include ../_blocks/_section-head/_section-head
    include ../_blocks/_section-text/_section-text
block popups
