extends ../_templates/_main
block title
    title Отзывы
block content
    include ../_blocks/_header-page/_header-page_after_autorization
    include ../_blocks/_top-panel/_top-panel_after_autorization
    include ../_blocks/_section-head/_section-head
    include ../_blocks/_section-responses/_section-responses_after_autorization
block append popups

block append js

