extends ../_templates/_main
block title
    title Получение пробы
block content
    include ../_blocks/_header-page/_header-page
    include ../_blocks/_top-panel/_top-panel
    include ../_blocks/_section-head/_section-head
    include ../_blocks/_section-sample/_section-sample
block append popups
