section.consultation
    .container.container_column
        h2.consultation__heading Бесплатная консультация!
        p.consultation__description Мы готовы ответить на любые Ваши вопросы совершенно бесплатно! Оставьте заявку и в ближайшее время с Вами свяжутся наши сотрудники.
        form.consultation__form
            input.consultation__field(type="text" placeholder="Имя:")
            input.consultation__field(type="text" placeholder="Номер телефона:")
            input.consultation__field(type="email" placeholder="E-mail:")
            button.consultation__submit(type="submit") Заказать консультацию