section.section-contacts
    .container.container_column
        include ../_breadcrumps/_breadcrumps
        h1.section__heading Контакты
        ul.section-contacts__list.list
            li.section-contacts__item.section-contacts__item_light
                h4.section-contacts__title.section-contacts__title_dark Jabber
                p.section-contacts__value.section-contacts__value_dark golden_38_city@exploit.im
            li.section-contacts__item.section-contacts__item_dark
                h4.section-contacts__title.section-contacts__title_light Telegramm
                p.section-contacts__value.section-contacts__value_light @golden247

